<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PTK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PTK.Properties.Settings>
            <setting name="SupportsCB1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupportsCB2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupportsCB3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupportsCB4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupportsCB5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SupportsCB6" serializeAs="String">
                <value>False</value>
            </setting>
        </PTK.Properties.Settings>
    </userSettings>
</configuration>